$yellow: #FFE600;
$black: #333333;
$darkGray: #666666;
$gray: #999999;
$lightGray: #EEEEEE;
$blue: #3483FA;

$fontSizeMedium: 1.125rem;
$fontSizeExtraSmall: .75rem;
$fontSizeSmall: 0.875;
$fontSizeLarge: 1.5rem;
$fontSizeExtraLarge: 2.875rem;

$borderRadiusSmall: .25rem;

$marginMedium: 1rem;


